body
{
    background-image: url('img/bg.png');
}
a{
    color: #31262B;  
}
a :hover{
    background-color: #DCDF24;
    color: yellow;
}
#all
{
    padding: 0;
    margin: 0;
    height: auto;
}
#nav
{
   height: 150px;
   background-color: #6D3E08;
   margin-left: auto;
   margin-right: auto;
   padding-top: 90px;
   text-align: center;
   font-size: 20px;
}
#logo{
    height: 120px;
    width: 105px;
    background-image: url('img/logo_v2.png');
    background-size: cover;
    position: fixed;
    z-index: 10;
    top:10px;
}
#creatorbtn {
    height: 50px;
    width: 150px;
    background-color: #F1BC0E;
    padding: 10px;
    float: right;
    margin-right: 10px;

}
#historybtn {
    height: 50px;
    width: 200px;
    background-color: #F1BC0E;
    margin-right: 10px;
    padding: 10px;
    float: right;
}
#videobtn {
    height: 50px;
    width: 150px;
    background-color: #F1BC0E;
    margin-right: 10px;
    padding: 10px;
    float: right;
}
#contactbtn {
    height: 50px;
    width: 150px;
    background-color: #F1BC0E;
    padding: 10px;
    float: right;
    
}
#slider
{
  height: 400px;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
}

#sliderpicA
{
    height: 400px;
background-image: url('img/bean01.jpg');
background-size: cover;
}
#sliderpicB
{
    height: 400px;
background-image: url('img/bean02.jpg');
background-size: cover;
}
#sliderpicC
{
    height: 400px;
background-image: url('img/bean03.jpg');
background-size: cover;
}
#sliderpicD
{
    height: 400px;
background-image: url('img/bean04.jpg');
background-size: cover;
}
#sliderpicE
{
    height: 400px;
background-image: url('img/bean05.jpg');
background-size: cover;
}
#sliderpicF
{
    height: 400px;
background-image: url('img/bean06.jpg');
background-size: cover;
}
.carousel-indicators li {
    height: 25px;
    width: 25px;
    border-radius: 15px;
}
.carousel-control-next-icon,.carousel-control-prev-icon
{
    width: 50px; 
    height: 50px;
}

#content
{   
   height: auto;
   margin-left: auto;
   margin-right: auto;
   padding: 0;
}
#creator
{
    height: 1000px;
    margin-left: auto;
    margin-right: auto;
    font-weight: bold;
    padding: 0;
}
#creatorpicA {
    float: left;
    height: 400px;
    background-color: #fff;
    background-image: url('img/bean01.jpg');
    background-size: cover;
}
#creatorpicB {
    float: left;
    height: 400px;
    background-color: #fff;
    background-image: url('img/bean01.jpg');
    background-size: cover;
}
#creatortextA{
    float: left;
    font-size:  23px;
}
#creatortextB{
    float: left;
    font-size:  23px;
}
#creatortitle
{
    height: 200px;
    text-align: center;
    padding-top: 75px;
}
#history
{
    height: auto;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
}
#historytitle
{
 text-align: center;
 padding-top: 80px;
 margin-bottom: 100px;

}
#historycontentA{
    margin-bottom: 50px;
}
#historypicA
{   
 height: 500px;
 background-image: url('img/historypicA.jpg');
 background-size: contain;
 background-repeat: no-repeat;
}
#historycontentB{
    margin-bottom: 50px;
}
#historypicB
{
    margin-left: 100px;
 height: 500px;
 background-image: url('img/historypicB.jpg');
 background-size: contain;
 background-repeat: no-repeat;
}
#historycontentC{
    margin-bottom: 50px;
}
#historypicC
{   
 height: 500px;
 background-image: url('img/historypicC.jpg');
 background-size: contain;
 background-repeat: no-repeat;
}
#historycontentD{
    margin-bottom: 50px;
}
#historypicD
{
    margin-left: 100px;
 height: 500px;
 background-image: url('img/historypicD.jpg');
 background-size: contain;
 background-repeat: no-repeat;
}
#video
{
    height: 500px;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
}
#contact{
    text-align: center;
    height: 350px;    
    padding-top: 20px;
    
}
#contactText {
    height: 250px;
    text-align: center;
    float: left;
    padding-top: 20px;
}

#contactMap{
    height: 250px;
    margin-left: auto;
    margin-right: auto;
    float: left;
    padding-top: 20px;

}
/*<------年代表用------->*/
* {
    box-sizing: border-box;
  }

  .timeline {
    position: relative;
    max-width: 800px;
    margin: 0 auto;
    padding-top: 20px;
    padding-left: 0px;
    background-color: inherit;
  }

  .timeline:after {
    content: '';
    position: absolute;
    width: 5px;
    background-color: #3290B1;
    left: 50%;
    top: 0;
    bottom: 0;
    margin-left: -2px;
  }

  .timeline--first:after {
    top: 20px;
  }

  .era {
    text-align: center;
    position: relative;
    z-index: 1;
    padding-bottom: 20px;
  }

  .era__title {
    background-color: blue;
    color: #EEEEEE;
    display: inline-block;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: default;
  }

  .entry {
    padding: 10px 30px 40px 30px;
    width: 50%;
    position: relative;
    background-color: inherit;
  }

  .entry--right {
    margin-left: 50%;
  }

  .entry__content {
    padding: 20px 30px;
    background-color: #EEEEEE;
    position: relative;
    border-radius: 4px;
    cursor: default;
    transition: all 0.3s ease 0s;
    box-shadow: 5px 5px 0px 0px rgba(0, 0, 0, 0.2);
  }

  .entry__content:hover {
    background-color: #FFFFFF;
  }

  .entry:before {
    content: " ";
    height: 0;
    position: absolute;
    top: 20px;
    width: 0;
    z-index: 1;
  }

  .entry:after {
    content: '';
    position: absolute;
    width: 24px;
    height: 24px;
    right: -17px;
    background-color: #EEEEEE;
    border: 4px solid #3290B1;
    top: 20px;
    border-radius: 50%;
    z-index: 1;
  }

  .entry--right:after {
    right: auto;
    left: -16px;
  }

  h2 {
    color: #525252;
    margin-bottom: 0.5em;
    font-family: "Raleway", Helvetica, sans-serif;
    font-size: 22px;
    font-weight: bold;
  }

  p {
    color: #686868;
    font-family: "Raleway", Helvetica, sans-serif;
    font-size: 15px;
    line-height: 1.4;
  }

  @media all and (max-width: 500px) {
    .timeline:after {
      left: 33.75px;
    }
    .era {
      text-align: left;
      padding-left: 31.875px;
    }
    .entry {
      width: 100%;
      margin-left: 0;
      padding-left: 64px;
      padding-right: 20px;
    }
    .entry:before {
      right: auto;
      left: 56px;
      margin-left: 0;
    }
    .entry:after {
      left: 15px;
    }
  }

  .ul {
    padding: 0;
    margin-left: auto;
    margin-right: auto;
  }

  li {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }

  #eracontentA {
    height: 300px;
    margin-bottom: 50px;
  }
  #erapicA {
    width: 45%;
    height: 300px;
    background-color: orange;
    background-image: url('img/erapicA.jpg');
    background-size: cover;
    background-position-y: center;
    float: left;
    margin-right: 5%;
  }
  #eratextA {
    width: 45%;
    height: 300px;
    font-size: 30px;
    float: left;
    margin-left: 5%;
  }

  #eracontentB {
    height: 300px;
    margin-bottom: 50px;
  }
  #erapicB {
    width: 45%;
    height: 300px;
    background-color: orange;
    background-image: url('img/erapicB.jpg');
    background-size: cover;
    background-position-y: center;
    float: left;
    margin-left: 5%;
  }
  #eratextB {
    width: 45%;
    height: 300px;
    font-size: 30px;
    float: left;
    margin-right: 5%;
  }

 
