body {
    padding: 0;
    margin: 0;
}
#all {
    height: auto;
    background-image: url('img/bg.png');
}

#nav {
    height: 150px;
    background-color: #382019;
    position: relative;
    padding-top: 90px;
    padding-right: 70px;
}

#logo {
    height: 140px;
    width: 95px;
    background-image: url('img/logo_v2.png');
    background-size: contain;
    position: absolute;
    top:10px;
    left: 70px;
}
#creatorbtn {
    height: 45px;
    width: 135px;
    border-style: solid;
    border-color: yellow;
    border-right: none;
    border-top: none;
    border-bottom: none;
    float: right;
    padding-left: 10px;
    margin-right: 45px;
}

#historybtn {
    height: 45px;
    width: 105px;
    border-style: solid;
    border-color: yellow;
    border-right: none;
    border-top: none;
    border-bottom: none;
    float: right;
    padding-left: 10px;
    margin-right: 80px;
}
#videobtn {
    height: 45px;
    width: 135px;
    border-style: solid;
    border-color: yellow;
    border-right: none;
    border-top: none;
    border-bottom: none;
    float: right;
    padding-left: 10px;
    margin-right: 50px;
}

#messagebtn {
    height: 45px;
    width: 135px;
    border-style: solid;
    border-color: yellow;
    border-right: none;
    border-top: none;
    border-bottom: none;
    float: right;
    padding-left: 10px;
}

#creatorbtnTextA,#historybtnTextA,#videobtnTextA,#messagebtnTextA {
    font-size: 15px;
    color:#E9D365;
}
#creatorbtnTextB,#historybtnTextB,#videobtnTextB,#messagebtnTextB {
    font-size: 13px;
    color: #FFF;
}

#creatorbtnA,#historybtnA,#videobtnA,#messagebtnA {
    font-size: 15px;
    color:#382019;
    font-weight: bold;
}

#creatorbtnB,#historybtnB,#videobtnB,#messagebtnB {
    font-size: 13px;
    color: #382019;
}

#locatBox #creatorbtn {
    border-color: #382019;
    float: left;

}
#locatBox #historybtn {
    border-color: #382019;
    float: left;
}

#locatBox #videobtn {
    border-color: #382019;
    float: left;
}

#locatBox #messagebtn {
    border-color: #382019;
    float: left;
}


#slider
{
  height: 520px;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
}

#sliderpicA
{
    height: 520px;
background-image: url('img/try1.jpg');
background-size: cover;
}
#sliderpicB
{
    height: 520px;
background-image: url('img/try12.jpg');
background-size: cover;
}
#sliderpicC
{
    height: 520px;
background-image: url('img/bean03.jpg');
background-size: cover;
}
#sliderpicD
{
    height: 520px;
background-image: url('img/bean04.jpg');
background-size: cover;
}
#sliderpicE
{
    height: 520px;
background-image: url('img/bean05.jpg');
background-size: cover;
}
#sliderpicF
{
    height: 520px;
background-image: url('img/bean06.jpg');
background-size: cover;
}
.carousel-indicators li {
    height: 25px;
    width: 25px;
    border-radius: 15px;
}
.carousel-control-next-icon,.carousel-control-prev-icon
{
    width: 50px; 
    height: 50px;
}

#locatBox {
    height: 100px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 60px;
    margin-bottom: 40px;

}

#creator {
    height: 1000px;
}
#creatorTitle {
    margin-left: auto;
    margin-right: auto;
    font-size: 36px;
    font-weight: bold;

}

#creatorCont{
    margin-left: auto;
    margin-right: auto;
}


#history{
    height: 500px;
}

#historyTitle {
    margin-left: auto;
    margin-right: auto;
}

#historyCont{
    margin-left: auto;
    margin-right: auto;
}


#video{
    margin-left: auto;
    margin-right: auto;
    height: 500px;
}

#videoTitle {
    margin-left: auto;
    margin-right: auto;
}

#videoCont{
    margin-left: auto;
    margin-right: auto;
}


#message{
    height: 500px;
    margin-left: auto;
    margin-right: auto;
}

#messageTitle {
    margin-left: auto;
    margin-right: auto;
    font-size: 36px;
}

#messageCont{
    margin-left: auto;
    margin-right: auto;
}



