@import url(//fonts.googleapis.com/earlyaccess/cwtexhei.css);

body {
    padding: 0;
    margin: 0;
    background-image: url('img/bg.png');
}

    /*menu漢寶條CSS*/
    #menufix {
        position: fixed;
        top:0px;
        left: 0px;
        z-index: 99;
    }
#toggle {
    display: block;
    width: 28px;
    height: 30px;
    margin: 30px auto 10px;
    z-index: 100;
  }
  
  #toggle span:after,
  #toggle span:before {
    content: "";
    position: absolute;
    left: 0;
    top: -9px;
  }
  #toggle span:after{
    top: 9px;
  }
  #toggle span {
    position: relative;
    display: block;
  }
  
  #toggle span,
  #toggle span:after,
  #toggle span:before {
    width: 100%;
    height: 5px;
    background-color: #888;
    transition: all 0.3s;
    backface-visibility: hidden;
    border-radius: 2px;
  }
  
  /* on activation */
  #toggle.on span {
    background-color: transparent;
  }
  #toggle.on span:before {
    transform: rotate(45deg) translate(5px, 5px);
  }
  #toggle.on span:after {
    transform: rotate(-45deg) translate(7px, -8px);
  }
  #toggle.on + #menu {
    opacity: 1;
    visibility: visible;
  }
  
  /* menu appearance*/
  #menu {
    position: relative;
    color: #999;
    width: 200px;
    padding: 10px;
    margin: auto;
    font-family: "Segoe UI", Candara, "Bitstream Vera Sans", "DejaVu Sans", "Bitstream Vera Sans", "Trebuchet MS", Verdana, "Verdana Ref", sans-serif;
    text-align: center;
    border-radius: 4px;
    background: white;
    box-shadow: 0 1px 8px rgba(0,0,0,0.05);
    /* just for this demo */
    opacity: 0;
    visibility: hidden;
    transition: opacity .4s;
  }
  #menu:after {
    position: absolute;
    top: -15px;
    left: 95px;
    content: "";
    display: block;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-bottom: 20px solid white;
  }
  ul, li, li a {
    list-style: none;
    display: block;
    margin: 0;
    padding: 0;
  }
  li a {
    padding: 5px;
    color: #888;
    text-decoration: none;
    transition: all .2s;
  }
  li a:hover,
  li a:focus {
    background: #AF8309;
    color: #fff;
  }
   
   
/*menu漢寶條CSS到這裡*/

a:hover
{
    text-decoration: none;
}

.mySlides {display:none}
.w3-left, .w3-right, .w3-badge {cursor:pointer}
.w3-badge {height:15px;width:15px;padding:0}

#all {
    height: auto;
}

#nav {
    height: 150px;
    background-color: #382019;
    position: relative;
    padding-top: 90px;
    padding-right: 70px;
}

#logo {
    height: 140px;
    width: 95px;
    background-image: url('img/logo_v2.png');
    background-size: contain;
    position: absolute;
    top:10px;
    left: 70px;
}
#creatorbtn {
    height: 45px;
    width: 135px;
    border: 4px;
    border-style: solid;
    border-color: yellow;
    border-right: none;
    border-top: none;
    border-bottom: none;
    float: right;
    padding-left: 10px;
    margin-right: 45px;
}

#historybtn {
    height: 45px;
    width: 105px;
    border: 4px;
    border-style: solid;
    border-color: yellow;
    border-right: none;
    border-top: none;
    border-bottom: none;
    float: right;
    padding-left: 10px;
    margin-right: 80px;
}
#videobtn {
    height: 45px;
    width: 135px;
    border: 4px;
    border-style: solid;
    border-color: yellow;
    border-right: none;
    border-top: none;
    border-bottom: none;
    float: right;
    padding-left: 10px;
    margin-right: 50px;
}

#messagebtn {
    height: 45px;
    width: 135px;
    border: 4px;
    border-style: solid;
    border-color: yellow;
    border-right: none;
    border-top: none;
    border-bottom: none;
    float: right;
    padding-left: 10px;
}

#creatorbtnTextA,#historybtnTextA,#videobtnTextA,#messagebtnTextA {
    font-size: 15px;
    color:#E9D365;
    font-family: 'cwTeXHei', sans-serif;
    }
#creatorbtnTextB,#historybtnTextB,#videobtnTextB,#messagebtnTextB {
    font-size: 13px;
    color: #FFF;
}

#creatorbtnA,#historybtnA,#videobtnA,#messagebtnA {
    font-size: 15px;
    color:#382019;
    font-weight: bold;
    font-family: 'cwTeXHei', sans-serif;
}

#creatorbtnB,#historybtnB,#videobtnB,#messagebtnB {
    font-size: 13px;
    color: #382019;
}

#locatBoxcre #creatorbtn {
    border-color: #382019;
    float: left;

}
#locatBoxhis #historybtn {
    border-color: #382019;
    float: left;
}

#locatBoxvid #videobtn {
    border-color: #382019;
    float: left;
}

#locatBoxmes #messagebtn {
    border-color: #382019;
    float: left;
}

#slider
{
  height: 520px;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
}

#sliderpicA
{
    height: 520px;
background-image: url('img/silder1.jpg');
background-size: cover;
background-position: center;
}
#sliderpicB
{
    height: 520px;
background-image: url('img/silder2.jpg');
background-size: cover;
background-position: center;
}
#sliderpicC
{
    height: 520px;
background-image: url('img/silder3.jpg');
background-size: cover;
background-position: center;
}
#sliderpicD
{
    height: 520px;
background-image: url('img/silder4.jpg');
background-size: cover;
background-position: center;
}
#sliderpicE
{
    height: 520px;
background-image: url('img/silder5.jpg');
background-size: cover;
background-position: center;
}
#sliderpicF
{
    height: 520px;
background-image: url('img/silder6.jpg');
background-size: cover;
background-position: center;
}
.carousel-indicators li {
    height: 25px;
    width: 25px;
    border-radius: 15px;
}
.carousel-control-next-icon,.carousel-control-prev-icon
{
    width: 50px; 
    height: 50px;
}

#locatBoxcre {
    height: 100px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 60px;
    margin-bottom: 40px;
}
#locatBoxhis {
    height: 100px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 60px;
    margin-bottom: 40px;
}
#locatBoxvid {
    height: 100px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 60px;
    margin-bottom: 40px;
}
#locatBoxmes {
    height: 100px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 60px;
    margin-bottom: 40px;
}

#creator {
    height: auto;
}
#creatorTitle {
    margin-left: auto;
    margin-right: auto;
    font-size: 36px;
    font-weight: bold;
    font-family: 'cwTeXHei', sans-serif;
    margin-bottom: 14px;
}

#creatorCont{
    margin-left: auto;
    margin-right: auto;
    line-height: 30px;
    font-size: 20px;
    letter-spacing:5px;
}

#CrossA {
    background-position: center;
    height: 150px;
    width: 100%;
    background-image: url(img/ad1.jpg);
    background-size: cover;
}

#history{
    height: auto;
    margin-left: auto;
    margin-right: auto;
}
#historyCont,#videoCont {
    margin-bottom: 20px;
    padding: 0px;
    margin-right: 0px;
    margin-left: 0px;
}

#historyTitleA,#historyTitleB,#videoTitleA,#videoTitleB,#Eventtitle{
    margin-left: auto;
    margin-right: auto;
    font-size: 36px;
    font-weight: bold;
    font-family: 'cwTeXHei', sans-serif;
    margin-bottom: 14px;
    padding: 0;
}

#historyContTextA,#historyContTextB {
    margin-left: auto;
    margin-right: auto;
    line-height: 30px;
    font-size: 20px;
    letter-spacing:5px;
    padding-top: 100px;
    padding-right: 0px;
    padding-left: 0px;
}
#historyContPicA {
    height: 400px;
    width: 200px;
    background-image: url(img/historypicA.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    float: left;
}

#historyContPicB {
    height: 400px;
    width: 200px;
    background-image: url(img/historypicB.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    float: left;
    padding: 0;
}


#CrossB {
    background-position: center;
    height: 150px;
    width: 100%;
    background-image: url(img/ad2.jpg);
    background-size: cover;
}

#video{
    margin-left: auto;
    margin-right: auto;
    height: auto;
}

.video-wrapper{
    position: relative;
    padding-bottom: 56.25%;
    overflow: hidden;
}
.video-wrapper iframe{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#videoContTextB {
    margin-left: auto;
    margin-right: auto;
    line-height: 30px;
    font-size: 20px;
    letter-spacing:5px;
    padding: 0;
}
#videoContPicB {
    height: 400px;
    width: 200px;
    background-image: url(img/historypicC.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    float: left;
    padding: 0;
}

#CrossC {
    background-position: center;
    height: 150px;
    width: 100%;
    background-image: url(img/ad3.jpg);
    background-size: cover;
}

#message {
    height: auto;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
}

#messageTitle {
    height: 500px;
    background-image: url(img/message_pic1.jpg);
    background-size: cover;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
    
}

#messageContText {
    margin-left: auto;
    margin-right: auto;
    line-height: 30px;
    font-size: 25px;
    letter-spacing:5px;
    font-family: 'cwTeXHei', sans-serif;
}
#Event
{
    height: auto;
    margin-left: auto;
    margin-right: auto;
}
#Eventslider
{
    width: 100%;
    height: 400px;
    
}
.w3-left {
    color: black;
}
.w3-right {
    color: black;
}

#footer {
    height: 150px;
    background-color: #382019;
}

#qrcode {
    width: 148px;
    height: 148px;
    background-image: url('img/qrcode.png');
    background-size: cover;
    margin-left: auto;
    margin-right: auto;
}
#clear {
    clear:both;
}


@media screen and (max-width:575px){
    #logo {
        position: absolute;
        left: 40%;
    }
        #messagebtn,#videobtn,#historybtn,#creatorbtn {
        display: none;
    }
       #sidebar{
        display: none;
    }
    #slide-out {
        display: none;
    }
    #messageTitle {
        height: 300px;
        background-image: url(img/message_pic1.jpg);
        background-size: contain;
        background-repeat: no-repeat;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 40px;
        
    }

}
@media screen and (min-width: 576px) and (max-width: 767px){
    
    
    #creatorbtn {
        position: absolute;
        top:10px;
        right: 200px;
    }
    #historybtn {
        position: absolute;
        top:10px;
        right: 0px;
    }
}
@media screen and (min-width:768px){
    
    
}

