@import url(//fonts.googleapis.com/earlyaccess/cwtexhei.css);

body {
    padding: 0;
    margin: 0;
    background-image: url('img/bg.png');
}
a:hover
{
    text-decoration: none;
}

.mySlides {display:none}
.w3-left, .w3-right, .w3-badge {cursor:pointer}
.w3-badge {height:15px;width:15px;padding:0}

#all {
    height: auto;
}

#nav {
    height: 150px;
    background-color: #382019;
    position: relative;
    padding-top: 90px;
    padding-right: 70px;
}

#logo {
    height: 140px;
    width: 95px;
    background-image: url('img/logo_v2.png');
    background-size: contain;
    position: absolute;
    top:10px;
    left: 70px;
}
#creatorbtn {
    height: 45px;
    width: 135px;
    border: 4px;
    border-style: solid;
    border-color: yellow;
    border-right: none;
    border-top: none;
    border-bottom: none;
    float: right;
    padding-left: 10px;
    margin-right: 45px;
}

#historybtn {
    height: 45px;
    width: 105px;
    border: 4px;
    border-style: solid;
    border-color: yellow;
    border-right: none;
    border-top: none;
    border-bottom: none;
    float: right;
    padding-left: 10px;
    margin-right: 80px;
}
#videobtn {
    height: 45px;
    width: 135px;
    border: 4px;
    border-style: solid;
    border-color: yellow;
    border-right: none;
    border-top: none;
    border-bottom: none;
    float: right;
    padding-left: 10px;
    margin-right: 50px;
}

#messagebtn {
    height: 45px;
    width: 135px;
    border: 4px;
    border-style: solid;
    border-color: yellow;
    border-right: none;
    border-top: none;
    border-bottom: none;
    float: right;
    padding-left: 10px;
}

#creatorbtnTextA,#historybtnTextA,#videobtnTextA,#messagebtnTextA {
    font-size: 15px;
    color:#E9D365;
    font-family: 'cwTeXHei', sans-serif;
}
#creatorbtnTextB,#historybtnTextB,#videobtnTextB,#messagebtnTextB {
    font-size: 13px;
    color: #FFF;
}

#creatorbtnA,#historybtnA,#videobtnA,#messagebtnA {
    font-size: 15px;
    color:#382019;
    font-weight: bold;
    font-family: 'cwTeXHei', sans-serif;
}

#creatorbtnB,#historybtnB,#videobtnB,#messagebtnB {
    font-size: 13px;
    color: #382019;
}

#locatBoxcre #creatorbtn {
    border-color: #382019;
    float: left;

}
#locatBoxhis #historybtn {
    border-color: #382019;
    float: left;
}

#locatBoxvid #videobtn {
    border-color: #382019;
    float: left;
}

#locatBoxmes #messagebtn {
    border-color: #382019;
    float: left;
}


#slider
{
  height: 520px;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
}

#sliderpicA
{
    height: 520px;
background-image: url('img/try1.jpg');
background-size: cover;
}
#sliderpicB
{
    height: 520px;
background-image: url('img/try12.jpg');
background-size: cover;
}
#sliderpicC
{
    height: 520px;
background-image: url('img/bean03.jpg');
background-size: cover;
}
#sliderpicD
{
    height: 520px;
background-image: url('img/bean04.jpg');
background-size: cover;
}
#sliderpicE
{
    height: 520px;
background-image: url('img/bean05.jpg');
background-size: cover;
}
#sliderpicF
{
    height: 520px;
background-image: url('img/bean06.jpg');
background-size: cover;
}
.carousel-indicators li {
    height: 25px;
    width: 25px;
    border-radius: 15px;
}
.carousel-control-next-icon,.carousel-control-prev-icon
{
    width: 50px; 
    height: 50px;
}

#locatBoxcre {
    height: 100px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 60px;
    margin-bottom: 40px;
}
#locatBoxhis {
    height: 100px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 60px;
    margin-bottom: 40px;
}
#locatBoxvid {
    height: 100px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 60px;
    margin-bottom: 40px;
}
#locatBoxmes {
    height: 100px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 60px;
    margin-bottom: 40px;
}

#creator {
    height: auto;
}
#creatorTitle {
    margin-left: auto;
    margin-right: auto;
    font-size: 36px;
    font-weight: bold;
    font-family: 'cwTeXHei', sans-serif;
    margin-bottom: 14px;
}

#creatorCont{
    margin-left: auto;
    margin-right: auto;
    line-height: 30px;
    font-size: 20px;
    letter-spacing:5px;
}

#CrossA {
    background-position: center;
    height: 150px;
    width: 100%;
    background-image: url(img/ad1.jpg);
    background-size: cover;
}

#history{
    height: auto;
    margin-left: auto;
    margin-right: auto;
}
#historyCont,#videoCont {
    margin-bottom: 20px;
}

#historyTitleA,#historyTitleB,#videoTitleA,#videoTitleB {
    margin-left: auto;
    margin-right: auto;
    font-size: 36px;
    font-weight: bold;
    font-family: 'cwTeXHei', sans-serif;
    margin-bottom: 14px;
    padding: 0;
}

#historyContTextA,#historyContTextB {
    margin-left: auto;
    margin-right: auto;
    line-height: 30px;
    font-size: 20px;
    letter-spacing:5px;
    padding-top: 100px;
}
#historyContPicA {
    height: 400px;
    width: 200px;
    background-image: url(img/historypicA.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    float: left;
}

#historyContPicB {
    height: 400px;
    width: 200px;
    background-image: url(img/historypicB.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    float: left;
}


#CrossB {
    background-position: center;
    height: 150px;
    width: 100%;
    background-image: url(img/ad2.jpg);
    background-size: cover;
}

#video{
    margin-left: auto;
    margin-right: auto;
    height: auto;
}

#videoContTextB {
    margin-left: auto;
    margin-right: auto;
    line-height: 30px;
    font-size: 20px;
    letter-spacing:5px;
}
#videoContPicB {
    height: 400px;
    width: 200px;
    background-image: url(img/historypicC.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    float: left;
}

#CrossC {
    background-position: center;
    height: 150px;
    width: 100%;
    background-image: url(img/ad3.jpg);
    background-size: cover;
}

#message {
    height: auto;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
}

#messageTitle {
    height: 500px;
    background-image: url(img/message_pic1.jpg);
    background-size: cover;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
    
}

#messageContText {
    margin-left: auto;
    margin-right: auto;
    line-height: 30px;
    font-size: 25px;
    letter-spacing:5px;
    font-family: 'cwTeXHei', sans-serif;
}
#Event
{
    text-align: center;
    font-size: 50px;
    font-weight: bold;
    bods
}
#Eventslider
{
    width: auto;
    height: 400px;
    
}
#footer {
    height: 100px;
    background-color: #382019;
}

#clear {
    clear:both;
}

/*-----------------------漢堡條--------------------------------*/

#sidebar{
    display: block;
}

html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,big,cite,code,del,dfn,em,font,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,caption {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

#first-container {
  position: absolute;
  width: 100%;
  height: 650px;
  background-color: #ffffff;
  z-index: 1;
}

#first-title {
  position: relative;
  top: 8%;
  left: 18%;
  font-weight: 300;
  font-family: 'Josefin Sans', sans-serif;
  width: 50%;
  font-size: 4vw;
}

#first-content {
  position: relative;
  top: 9%;
  left: 18%;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 100;
  width: 70%;
  font-size: 3vw;
}

#second-container {
  position: absolute;
  width: 100%;
  top: 650px;
  height: 650px;
  background-color: #EBEBEB;
  z-index: 1;
  display: block;
}

#second-title {
  position: relative;
  top: 5%;
  left: 18%;
  font-family: 'Titillium Web', sans-serif;
  width: 50%;
  font-size: 60px;
}
/* Top bar */

#top-bar {
  position: fixed;
  z-index: 10;
  width: 100%;
  height: 10px;
  background-color: #454545;
}
/* NAVIGATION */

#left-bar {
  position: fixed;
  height: 100%;
  width: 10px;
  background-color: #454545;
  z-index: 2;
}

#slide-out a {
  display: none;
  margin-top: 50px;
}

#slide-out {
  position: fixed;
  display: none;
  /* Stops it displaying by default */
  background-color: #7E510E;
  color: #FFF;
  padding: 10px;
  height: 100%;
  width: 180px;
  z-index: 2;
}

#slide-down-arrow {
  display: none;
  position: relative;
  height: 20px;
  width: 20px;
  border: 4px solid;
  border-right: none;
  border-top: none;
  margin: 13px 17px;
  -webkit-transform: rotate(45deg);
  color: white;
  z-index: 10;
}

#slide-down-circle {
  display: none;
  position: fixed;
  left: 65px;
  top: 25px;
  height: 50px;
  width: 50px;
  border: 2px solid #A16613;
  border-radius: 50%;
  background-color: #A16613;
  z-index: 10;
}

#slide-down-circle:hover {
  background-color: #A16613;
  border-color: #A16613;
  cursor: pointer;
}
/* Individual list items */

#slide-out a {
  text-decoration: none;
  display: block;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 100;
  color: #ffffff;
  font-size: 2vw;
  text-align: center;
  width: 175px;
  cursor: pointer;
}

#slide-out a:hover {
  color: #A16613;
}

#slide-out a:nth-child(1) {
  position: fixed;
  top: 10%;
}

#slide-out a:nth-child(2) {
  position: fixed;
  top: 25%;
}

#slide-out a:nth-child(3) {
  position: fixed;
  top: 40%;
}

#slide-out a:nth-child(4) {
  position: fixed;
  top: 55%;
}

#slide-out a:nth-child(5) {
  position: fixed;
  top: 70%;
}


#click-toggle-arrow {
  position: relative;
  right: 10px;
  height: 20px;
  width: 20px;
  border: 4px solid;
  border-right: none;
  border-top: none;
  margin: 14px 19px;
  -webkit-transform: rotate(225deg);
  color: white;
  z-index: 10;
}

#click-toggle-circle {
  position: fixed;
  left: 4.5%;
  top: 3.5%;
  height: 50px;
  width: 50px;
  border: 2px solid #A16613;
  border-radius: 50%;
  background-color: #A16613;
  z-index: 50;
  cursor: pointer;
}


#click-toggle-circle:hover {
  background-color: #A16613;
  border-color: #A16613;
}

#nav-prompt {
  position: fixed;
  width: 200px;
  height: 45%;
  display: none;
  font-size: 26px;
  left: 80px;
  top: 45%;
  font-family: 'Titillium Web', sans-serif;
  z-index: 2;
}

