@import url(//fonts.googleapis.com/earlyaccess/cwtexhei.css);

body {
    padding: 0;
    margin: 0;
    background-image: url('img/bg.png');
}
#all {
    height: auto;
}

#nav {
    height: 150px;
    background-color: #382019;
    position: relative;
    padding-top: 90px;
    padding-right: 70px;
}

#logo {
    height: 140px;
    width: 95px;
    background-image: url('img/logo_v2.png');
    background-size: contain;
    position: absolute;
    top:10px;
    left: 70px;
}
#creatorbtn {
    height: 45px;
    width: 135px;
    border-style: solid;
    border-color: yellow;
    border-right: none;
    border-top: none;
    border-bottom: none;
    float: right;
    padding-left: 10px;
    margin-right: 45px;
}

#historybtn {
    height: 45px;
    width: 105px;
    border-style: solid;
    border-color: yellow;
    border-right: none;
    border-top: none;
    border-bottom: none;
    float: right;
    padding-left: 10px;
    margin-right: 80px;
}
#videobtn {
    height: 45px;
    width: 135px;
    border-style: solid;
    border-color: yellow;
    border-right: none;
    border-top: none;
    border-bottom: none;
    float: right;
    padding-left: 10px;
    margin-right: 50px;
}

#messagebtn {
    height: 45px;
    width: 135px;
    border-style: solid;
    border-color: yellow;
    border-right: none;
    border-top: none;
    border-bottom: none;
    float: right;
    padding-left: 10px;
}

#creatorbtnTextA,#historybtnTextA,#videobtnTextA,#messagebtnTextA {
    font-size: 15px;
    color:#E9D365;
    font-family: 'cwTeXHei', sans-serif;
}
#creatorbtnTextB,#historybtnTextB,#videobtnTextB,#messagebtnTextB {
    font-size: 13px;
    color: #FFF;
}

#creatorbtnA,#historybtnA,#videobtnA,#messagebtnA {
    font-size: 15px;
    color:#382019;
    font-weight: bold;
    font-family: 'cwTeXHei', sans-serif;
}

#creatorbtnB,#historybtnB,#videobtnB,#messagebtnB {
    font-size: 13px;
    color: #382019;
}

#locatBox #creatorbtn {
    border-color: #382019;
    float: left;

}
#locatBox #historybtn {
    border-color: #382019;
    float: left;
}

#locatBox #videobtn {
    border-color: #382019;
    float: left;
}

#locatBox #messagebtn {
    border-color: #382019;
    float: left;
}


#slider
{
  height: 520px;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
}

#sliderpicA
{
    height: 520px;
background-image: url('img/try1.jpg');
background-size: cover;
}
#sliderpicB
{
    height: 520px;
background-image: url('img/try12.jpg');
background-size: cover;
}
#sliderpicC
{
    height: 520px;
background-image: url('img/bean03.jpg');
background-size: cover;
}
#sliderpicD
{
    height: 520px;
background-image: url('img/bean04.jpg');
background-size: cover;
}
#sliderpicE
{
    height: 520px;
background-image: url('img/bean05.jpg');
background-size: cover;
}
#sliderpicF
{
    height: 520px;
background-image: url('img/bean06.jpg');
background-size: cover;
}
.carousel-indicators li {
    height: 25px;
    width: 25px;
    border-radius: 15px;
}
.carousel-control-next-icon,.carousel-control-prev-icon
{
    width: 50px; 
    height: 50px;
}

#locatBox {
    height: 100px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 60px;
    margin-bottom: 40px;

}

#creator {
    height: auto;
}
#creatorTitle {
    margin-left: auto;
    margin-right: auto;
    font-size: 36px;
    font-weight: bold;
    font-family: 'cwTeXHei', sans-serif;
    margin-bottom: 14px;
}

#creatorCont{
    margin-left: auto;
    margin-right: auto;
    line-height: 30px;
    font-size: 20px;
    letter-spacing:5px;
}

#CrossA {
    background-position: center;
    height: 150px;
    width: 100%;
    background-image: url(img/ad1.jpg);
    background-size: cover;
}

#history{
    height: auto;
    margin-left: auto;
    margin-right: auto;
}
#historyCont,#videoCont {
    margin-bottom: 20px;
}

#historyTitleA,#historyTitleB,#videoTitleA,#videoTitleB {
    margin-left: auto;
    margin-right: auto;
    font-size: 36px;
    font-weight: bold;
    font-family: 'cwTeXHei', sans-serif;
    margin-bottom: 14px;
    padding: 0;
}

#historyContTextA,#historyContTextB {
    margin-left: auto;
    margin-right: auto;
    line-height: 30px;
    font-size: 20px;
    letter-spacing:5px;
    padding-top: 100px;
}
#historyContPicA {
    height: 400px;
    width: 200px;
    background-image: url(img/historypicA.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    float: left;
}

#historyContPicB {
    height: 400px;
    width: 200px;
    background-image: url(img/historypicB.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    float: left;
}


#CrossB {
    background-position: center;
    height: 150px;
    width: 100%;
    background-image: url(img/ad2.jpg);
    background-size: cover;
}

#video{
    margin-left: auto;
    margin-right: auto;
    height: auto;
}

#videoContTextB {
    margin-left: auto;
    margin-right: auto;
    line-height: 30px;
    font-size: 20px;
    letter-spacing:5px;
}
#videoContPicB {
    height: 400px;
    width: 200px;
    background-image: url(img/historypicC.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    float: left;
}

#CrossC {
    background-position: center;
    height: 150px;
    width: 100%;
    background-image: url(img/ad3.jpg);
    background-size: cover;
}

#message {
    height: auto;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
}

#messageTitle {
    height: 500px;
    background-image: url(img/message_pic1.jpg);
    background-size: cover;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
    
}

#messageContText {
    margin-left: auto;
    margin-right: auto;
    line-height: 30px;
    font-size: 25px;
    letter-spacing:5px;
    font-family: 'cwTeXHei', sans-serif;
}

#footer {
    height: 100px;
    background-color: #382019;
}

#clear {
    clear:both;
}


